@font-face {
	font-family: 'MontserratBold';
	src: url('../fonts/Montserrat-Bold.eot');
	src: url('../fonts/Montserrat-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/Montserrat-Bold.woff2') format('woff2'), url('../fonts/Montserrat-Bold.woff') format('woff'), url('../fonts/Montserrat-Bold.ttf') format('truetype'), url('../fonts/Montserrat-Bold.svg#Montserrat-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'MontserratMed';
	src: url('../fonts/Montserrat-Medium.eot');
	src: url('../fonts/Montserrat-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/Montserrat-Medium.woff2') format('woff2'), url('../fonts/Montserrat-Medium.woff') format('woff'), url('../fonts/Montserrat-Medium.ttf') format('truetype'), url('../fonts/Montserrat-Medium.svg#Montserrat-Medium') format('svg');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'MontserratItalic';
	src: url('../fonts/Montserrat-Italic.eot');
	src: url('../fonts/Montserrat-Italic.eot?#iefix') format('embedded-opentype'), url('../fonts/Montserrat-Italic.woff2') format('woff2'), url('../fonts/Montserrat-Italic.woff') format('woff'), url('../fonts/Montserrat-Italic.ttf') format('truetype'), url('../fonts/Montserrat-Italic.svg#Montserrat-Italic') format('svg');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'MontserratSemi';
	src: url('../fonts/Montserrat-SemiBold.eot');
	src: url('../fonts/Montserrat-SemiBold.eot?#iefix') format('embedded-opentype'), url('../fonts/Montserrat-SemiBold.woff2') format('woff2'), url('../fonts/Montserrat-SemiBold.woff') format('woff'), url('../fonts/Montserrat-SemiBold.ttf') format('truetype'), url('../fonts/Montserrat-SemiBold.svg#Montserrat-SemiBold') format('svg');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat-Regular.eot');
	src: url('../fonts/Montserrat-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/Montserrat-Regular.woff2') format('woff2'), url('../fonts/Montserrat-Regular.woff') format('woff'), url('../fonts/Montserrat-Regular.ttf') format('truetype'), url('../fonts/Montserrat-Regular.svg#Montserrat-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Bebas';
	src: url('../fonts/BebasNeue Regular.eot');
	src: local('☺'), url('../fonts/BebasNeue Regular.woff') format('woff'), url('../fonts/BebasNeue Regular.ttf') format('truetype'), url('../fonts/BebasNeue Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'UbuntuBold';
	src: url('../fonts/Ubuntu-Bold.ttf');
	src: url('../fonts/Ubuntu-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: bold;
}

@font-face {
	font-family: 'Ubuntu';
	src: url('../fonts/Ubuntu-Regular.ttf');
	src: url('../fonts/Ubuntu-Regular.ttf') fourl('../fonts/Ubuntu-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'UbuntuMedium';
	src: url('../fonts/Ubuntu-Medium.ttf');
	src: url('../fonts/Ubuntu-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: medium;
}

body {
	font-family: 'Ubuntu';
}

* {
	outline: none !important;
}

header {
	background-color: #2E2E2E;
	padding-top: 15px;
	padding-bottom: 9px;
}

@media (min-width: 1366px) {
	.container,
	.container-lg,
	.container-md,
	.container-sm,
	.container-xl {
		max-width: 1330px;
		padding: 0;
	}
}

.visible-md,
.visible-xs,
.visible-sm,
.visible-m,
.visible-s {
	display: none !important;
}

.descriptor {
	font-family: 'Ubuntu';
	font-size: 15px;
	color: #fff;
}

.descriptor img {
	margin-left: 5px;
}

.desc {
	color: #ffffff;
	font-size: 24px;
	font-weight: 600;
	font-family: 'MontserratSemi';
	margin-right: 50px;
}
.desc span{
    color: #FFC919;
}
.phone {
	color: #ffffff !important;
	font-family: 'UbuntuBold';
	font-size: 21px;
	font-weight: 700;
}

.logo {
	text-decoration: none !important;
}

header .btn {
	width: 230px;
	height: 36px;
	border-radius: 30px;
	background:url('../img/wild_but.png') no-repeat;
    background-position: center;
	color: #ffffff;
	font-family: 'UbuntuBold';
	font-size: 14px;
	font-weight: 700;
	margin-left: 24px;
	text-transform: uppercase;
	letter-spacing: 0.2px;
}
.reviews {
	background-image: url(../img/backfon.png);
	background-repeat: no-repeat;
	background-position: 48% 57%;
	height: 920px;
	background-color: #f0f0f0;
}

.imaga2 {
	width: 285px;
	height: 535px;
}
.reviews p {
	font-size: 20px;
	font-weight: 500;
	line-height: 30px;
	margin-top: 15px;
    font-family: 'UbuntuMedium';
}
.reviews h2 {
	padding-top: 95px;
    font-family: 'UbuntuBold';
}
.reviews .text-center img {
	margin-top: 10px;
}
.rew_heart {
	position: relative;
	top: -645px;
	width: 600px;
}
.rew_h1 {
	margin-top: -28px;
}
.reviews .carousel-circle {
	position: relative;
	width: 374px;
}
.reviews .carousel-btn {
	top: -442px;
}
.single_fon {
	position: relative;
	top: 45px;
}
.single2 {
    position: relative;
    top: -430px;
    max-width: 395px;
}
.carus_fon {
	height: 629px;
}
.reviews-thn {
    background-image: url(../img/backfon.png);
    background-repeat: no-repeat;
    background-position: 48% 59%;
    height: 1000px;
    background-color: #f0f0f0;
}
.buttons {
    font-family: 'UbuntuMedium';
}
.reviews-thn .buttons {
	margin-top: -400px;
}
.reviews-thn .buttons .btn {
	width: 310px;
}
.reviews-thn .buttons .btn-insta {
	display: flex;
	align-items: center;
	justify-content: space-around;
	background-image: url(../img/insta.png);
	background-size: cover;
	background-repeat: no-repeat;
}
.carousel-btn {
	width: 31px;
	height: 31px;
	background: #fff;
	border-radius: 50%;
	position: relative;
	top: -150px;
	cursor: pointer;
}
.carousel-circle {
	width: 500px;
	margin: 0 auto;
}
.reviews .prev {
    position: absolute;
    top: 242px;
    left: 0px;
    z-index: 9;
}
.video-reviews h2 {
    padding-top: 100px;
    margin-bottom: 95px;
}
.fancy_v {
    padding: 0 155px;
    
    position: relative;
    bottom: 256px;
}
.fancy_v2 {
    margin-top: -195px;
    padding-bottom: 310px;
}
.videos h2 {
    padding-top: 39px;
    font-family: 'UbuntuBold';
    position: relative;
    z-index: 1;
    margin-bottom: 77px;
}
.section-1 p {
    margin: 0;
}
.section-1 {
    background-color:#000 ;
    color: #fff;
    padding-bottom: 110px;
}
h1 {
    padding-top: 26px;
    font-size: 40px;
    text-align: center;
    font-weight: 700;
    background: url(../img/h1_back.png) no-repeat;
    background-position: 50% 20%;
    background-size: 515px;
    height: 175px;
    z-index: 2;
    position: relative;
}
.single,
.krug,
.ellipse,
.merch,
.single2,
.carus_fon,
.rew_heart,
.equip1 {
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        text-align: center;
}
.single img {
	margin: 0 auto;
}
.fivestar {
    text-align: center;
    position: relative;
    z-index: 3;
    top: -35px;
}
.section-1 p {
    font-weight: 700;
    font-size: 18px;
}
.text_r {
    text-align: right;
    padding-right: 30px;
}
.text_l {
    padding-left: 30px;
}
.bubble {
    padding-top: 47px;
    text-align: center;
    background: url(../img/bubble.png) no-repeat;
    background-position: center;
    width: 347px;
    height: 199px;
    top: -130px;
    left: 180px;
}
.section-1 .single {
    top: 40px;
    z-index: 3;
}
.single .prev {
	position: absolute;
    left: 0px;
	top: 240px;
	z-index: 9;
    margin-left: 405px;
}
.single .next {
	position: absolute;
    right: 0px;
	top: 240px;
	z-index: 9;
    margin-right: 405px;
}
.bubble h2 {
    font-weight: 500;
    font-size: 17px;
    line-height: 1.5;
    color: #AFB7FF;
}
.bubble h2 span {
    color: #fff;
    
}
.bubble p {
    font-size: 13px;
    font-weight: normal;
    line-height: 1.3;
    margin-top: -2px;
    color:#BDBDBD;
}
.core_div {
    top: -77px;
    line-height: 1.3;
}
.div1 {
    padding: 0 120px;
     
}
.div1,
.div2,
.div3,
.div4 {
    position: relative; 
    z-index: 3;
}
.krug {
    top: 68px;
}
.ellipse {
    top: -81px;
}
.gerb {
    position: relative;
    right: 65px;
    top: 50px;
}
.div2 {
    padding: 0 92px;
    margin-top: 22px;
}
.vnutr1 {
    margin-right: 38px;
    margin-top: -17px;
}
.div3 {
    padding: 0px 118px;
    margin-top: 56px;
}
.vnutr2 {
    margin-right: 8px;
    margin-top: -44px;
}
.div4 {
    margin-top: 37px;
    padding: 0px 150px;
}
.buttons .btn {
    display: block;
    width: 320px;
    height: 50px;
    border-radius: 30px;
    background-image: url(../img/wild_but.png);
    background-size: 365px;
    background-position: center;
    background-repeat: no-repeat;
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    margin-top: -10px;
    border: none;
    margin-right: 13px;
    margin-left: 16px;
    position: relative;
}
.about_goods {
    background-color: #1A1A18;
    color: #FFFFFF;
    height: 942px;
}
.volna img {
    width: 100%
}
.about_goods .volna {
    top: -69px;
}
h2 {
    text-align: center;
    font-size: 41px;
    font-weight: 700;
    font-family: 'UbuntuBold';
}
.about_goods h2 {
    margin-bottom: 50px;
}
.about_goods .container {
    position: relative;
    top: -200px;
}
.about_goods .h_back {
    left: 434px;
    bottom: 214px;
    width: 100px;
}
.merch {
    bottom: 245px;
}
.about_goods p {
    font-weight: bold;
    font-size: 22px;
    text-align: center;
    margin-top: 16px;
}
.core_div2 {
    bottom: 154px;
    padding: 0 175px;
}
.goods1 p {
    margin-left: -55px;
}

.goods2 {
    margin-left: 65px;
}
.block2 {
    margin-top: -10px;
    margin-right: -70px;
}
.goods4 {
    margin-top: 48px;
    margin-left: -67px;
}
.goods3 p {
    position: relative;
    left: -27px;
}
.goods4 p{
    position: relative;
    left: -56px;
}
.about_goods .buttons {
    bottom: 129px;
}
.how_it_work {
    background-color: #000;
    color: #fff;
    height: 900px;
}
.how_it_work .volna {
    top: -86px;
}
.how_it_work .container {
    position: relative;
    bottom: 117px;
}
.how_it_work .h_back {
    left: 434px;
    bottom: 221px;
    width: 100px;
}
.how_it_work p {
    font-size: 22px;
    text-align: center;
    line-height: 1.5;
    margin-top: 25px;
    font-weight: 700;
}
.how_it_work p span {
    color:#F5D366;
}
.core_div3 {
    margin-right: 46px;
    position: relative;
    bottom: 225px;
}
.buttons .vio {
    background-color: #000;
    background-image: none;
    border: 2px solid #DF86ED;
    color: #DF86ED;
}
.buttons .vio2 {
    background-color: #222;
    background-image: none;
    border: 2px solid #DF86ED;
    color: #DF86ED;
}
.buttons .vio3 {
    background-color: #1A1A18;
    background-image: none;
    border: 2px solid #DF86ED;
    color: #DF86ED;
}
.how_it_work .buttons {
    bottom: 160px;
    position: relative;
}
.preims {
    background-color: #fff;
    color: #222;
}
.preims p {
    font-size: 18px;
    font-weight: 700;
    text-align: center;
}
.preims p span {
    background-color: #FFE89E;
}
.preims .volna {
    top: -86px;
    position: relative;
}
.preims .container {
    position: relative;
    bottom: 160px;
}
.core_div4 {
    margin-top: 70px;
    padding: 0px 216px;
}
.core_div4 p {
    margin-top: 10px;
}
.b_1 {
    padding-left: 101px;
    margin-top: 40px;
}
.preims .buttons {
    top: 30px;
    position: relative;
}
.effect {
    background-color: #000;
    color: #fff;
    padding-bottom: 35px;
}
.effect .volna {
    position: relative;
    bottom: 66px;
}
.effect .h_back {
    left: 385px;
    bottom: 177px;
    width: 100px;
}
.effect .container {
    bottom: 122px;
}
.effect h2 {
    position: relative;
    z-index: 2;
}
.effect .merch {
    bottom: -28px;
    z-index: 1;
}
.effect .h_back {
    z-index: 2;
}
.effect p {
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    font-family: 'UbuntuMedium';
}
.pl p {
    margin-right: 16px;
} 
.pr p {
    margin-left: 16px;
}
.pl .d-flex,
.pr .d-flex {
    margin-bottom:47px;
}
.core_div5 {  
    position: relative;
    bottom: 55px;
    padding: 0 124px;
    z-index: 2;
}
.bl_4,
.bl_6 {
    margin-left:-37px;
}
.bl_3 {
    margin-left: 28px;
}
.bl_5 {
    margin-right: 9px;
}
.effect .buttons {
    position: relative;
    bottom: 110px;
    z-index: 2;
}
.reviews .prev {
    position: absolute;
    top: 242px;
    left: 0px;
    z-index: 9;
}
.reviews .next {
    position: absolute;
    top: 242px;
    right: 0px;
    z-index: 9;
}
.reviews .volna {
    bottom: 87px;
}
.reviews .container {
    bottom: 265px;
    position: relative;
}
.video-reviews {
    background-color: #000;
    color: #fff;
}
.buttons .btn-yellow {
        background-color: #000;
        background-image: none;
        border: 2px solid #F5D366;
        color: #F5D366;
}
.video-reviews .h_back {
    left: 433px;
    bottom: 286px;
    width: 100px;
}
.video-reviews .volna {   
    top: -53px;
    width: 100%;
    
}
.video-reviews .container {
    bottom: 244px;
}
.video-reviews h2 {
    z-index: 2;
    position: relative;
    font-family: 'UbuntuBold';
}
.imaga3 {
	width: 233px;
	height: 414px;
	border-radius: 10px;
}
.reviews2 {
	display: none;
    top: 159px;
}
.hide {
	display: none;
}
.show {
	display: block;
}
.video-reviews .buttons {
    position: relative;
    top: -260px;
}
.video-reviews .button-visible {
    position: relative;
    bottom: -81px;
}
.video-reviews .back_b {
    bottom: -131px;
}
.videos {
    background-color: #D1D2D4;
    color:#222;
}
.videos .volna {
    width: 100%;
    top: -85px;
}
.videos h3 {
    font-weight: 700;
    font-size: 22px;
    font-family: 'UbuntuBold';
}
.videos .video_cont {
    margin-bottom: 91px;
}
.videos .buttons {
    padding-bottom: 150px;
}
.blo_1 {
    margin-right: 45px;
}
.blo_2 {
    margin-left: 45px;
}
.about {
    background-color: #1A1A18;
    color: #fff;
}
.about p,
.about h4,
.about h3 {
    color:#C7C7C7;
}
.about h3 {
    font-family: 'Ubuntu';
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 70px;
}
.about h4 {
    font-size: 20px;
}
.about p {
    font-size: 14px;
}
.about .volna {
    top: -85px;
    width: 100%;
}
.about h2 {
    position: relative;
    z-index: 1;
    padding-top: 45px;
    margin-bottom: 90px;
}
.kevin {
    position: relative;
    bottom: 180px;
}
.rospis {
    margin-left: 90px;
}
.about .buttons {
    bottom: 185px;
}
.equip .volna {
    top: -71px;
    width: 100%;
}
.equip {
    color: #222;
    padding-bottom: 100px;
}
.equip h2 {
    position: relative;
    padding-top: 38px;
}
.equip h5 {
    font-size: 18px;
    font-family: 'UbuntuBold';
    font-weight: 700;
}
.equip p{
    font-size: 16px;

    font-weight: 400;
    line-height: 1.3;
}
.divi {
    padding-right: 23px;
    padding-bottom: 17px;
}
.nodivi {
    display: flex;
}
.divi2 {
    margin-right: 3px;
}
.divi3 {
    margin-left: 10px;
}
.idiv {
    margin-top: 15px;
    margin-bottom: 5px;
}
.divi_i {
    margin-top: 25px;
}
.equip1 {
    top: 183px;
}
.core_div6 {
    padding: 0 72px;
}
.equip .buttons {
    bottom: 60px;
}
.instruction {
    background-color: #1A1A18;
    color: #fff;
    text-align: center;
}
.instruction h3 {
    font-size: 25px;
    font-weight: 500;
    font-family: 'UbuntuMedium';
    position: relative;
    margin-bottom: 20px;
}
.instruction h6, .instruction h4 {
    font-size: 18px;
    font-family: 'UbuntuBold';
    font-weight: 700;
}
.instruction p {
    font-size: 16px;
}
.instruction h4 {
    text-align-last: left;
}
.instruction .volna {
    top: -66px;
    width: 100%;
}
.instruction h2 {
    position: relative;
    padding-top: 70px;
    margin-bottom: 44px;
}
.yellow {
    color: #F2A66F;
}
.blue {
    color: #88DFF2;
}
.pink {
    color: #FFBADB;
}
.instruction h4 span {
    color: #B191F4;
}